{
  "name": "{{WORKER_NAME}}",
  "compatibility_date": "2025-04-01",
  "compatibility_flags": ["nodejs_compat"],
  "main": "./server.ts",
  "assets": {
    "directory": "./build/client"
  },
  "observability": {
    "enabled": true
  },
  "upload_source_maps": true,
  "d1_databases": [
    {
      "binding": "DB",
      "database_name": "{{DATABASE_NAME}}",
      "database_id": "{{DATABASE_ID}}"
    }
  ],
  "vars": {
    "SHOPIFY_API_KEY": "{{SHOPIFY_API_KEY}}",
    "SHOPIFY_API_SECRET": "{{SHOPIFY_API_SECRET}}",
    "SHOPIFY_APP_URL": "{{SHOPIFY_APP_URL}}",
    "SCOPES": "{{SCOPES}}"
  }
}